:root{
    --blue:#0b3c5d;
    --orange:#f57c00;
    --light:#f9f9f9;
    --dark:#1c1c1c;
    --danger: #d9534f;
    --sencondary: #6C757D;
    --info: #5bc0de;
}
#actions .btn-danger, #actions .btn-primary, #actions .btn-warning,
.card-footer .btn-danger, .card-footer .btn-primary, .card-footer .btn-warning {
    background: none !important;
    border: none !important;
    font-size: 1rem !important;;
}
#actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#actions .btn-danger, .card-footer .btn-danger{
    color: var(--danger) !important;
}
#actions .btn-warning, .card-footer .btn-warning{
    color: var(--orange) !important;
}
#actions .btn-primary, .card-footer .btn-primary{
    color: var(--info) !important;
}
thead th {
    color: var(--dark);
    font-size: 1rem !important;
    font-weight: bold !important;
}
h2{
    margin-bottom: 0;
}
a.btn-success, .btn-success{
    background-color: var(--blue);
    color: var(--light);
    width: 15%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
a.btn-success:hover, .btn-success:hover{
    background-color: var(--orange);
    color: var(--dark) !important;
    width: 15%;
}
